html {
    background-color: black;
}

h1 {
    color: white;
    display: flex;
    justify-content: center;
}

.ItemCategory {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
    gap: 1.5em;
}

.Drink, .Appetizer, .Entree, .Dessert {
    background: radial-gradient(circle, rgb(156, 247, 20) 0%, rgb(90, 187, 11) 36%, rgb(202, 70, 9) 100%);
    padding: .3em;
    display: flex;
    align-items: center;
    flex-direction: column;
}